
__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv


.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/

data/*

!data/**/.gitkeep


!data/raw/*.csv

data/processed/*


results/
reports/figures/*
!reports/figures/.gitkeep


*.xlsx
*.xls
*.csv

*.png
*.jpg
*.jpeg
*.svg
*.pdf

.vscode/
.idea/
.DS_Store
Thumbs.db


key.json
secrets.py